@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Work Sans", sans-serif;
  /* Cores Principais do Livrea */
  --color-primary: #8c11dc;
  --color-primary-foreground: #ffffff;

  --color-secondary: #470d9d;
  --color-secondary-foreground: #121212;

  --color-background: #f8f9fa;
  --color-foreground: #19191b;

  --color-accent: #f1f5f9;
  --color-accent-foreground: #0f172a;

  --color-destructive: #c22929;
  --color-destructive-foreground: #f8fafc;

  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #6200ee;

  --color-success: #009966;
  --color-success-light: #cdffd6;

  --color-warning: #e9a934;
  --color-warning-light: #fff6d2;

  --color-info: #3aa5c3;
  --color-info-light: #d2f5ff;

  /* Raio de borda padrão do shadcn */
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
